<h1>{{title}}</h1>

<table>
  <tr>
    <td>Fname</td>
    <td>Minit</td>
    <td>Lname</td>
    <td>Ssn</td>
    <td>Bdate</td>
    <td>Address</td>
    <td>Sex</td>
    <td>Salary</td>
    <td>Super</td>
    <td>Super_ssn</td>
    <td>Dno</td>
  </tr>
  {{#each emp_res}}
    <form method="post" action="/update/employee">
      <tr>
        <td><input
            id="fname"
            name="fname"
            type="text"
            required
            placeholder={{Fname}}
          />
        </td>
        <td>{{Minit}}</td>
        <td>{{Lname}}</td>
        <td>{{Ssn}}</td>
        <td>{{Bdate}}</td>
        <td>{{Address}}</td>
        <td>{{Sex}}</td>
        <td><input
            id="salary"
            type="text"
            name="salary"
            required
            placeholder={{Salary}}
          /></td>
        <td>{{Super}}</td>
        <td>{{Super_ssn}}</td>
        <td>{{Dno}}</td>
        <td><input
            type="submit"
            value="수정"
            formaction="/update/employee"
          /></td>
      </tr>
    </form>
  {{/each}}
</table>